<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        	Base auth title
        {% endblock %}
    </title>
</head>
<body>
<h4><a href="/">Home</a></h4>
{% block body %}
	Base body block
{% endblock %}
</body>
</html>
