{% extends 'layout/base.html' %}
{% block title %}
    Login
{% endblock %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <br>
    <h4>or</h4>
    <a href="{% url 'myauth:register' %}">create new profile</a>
{% endblock %}