{% extends 'layout/base.html' %}

{% block title %}
	Registration
{% endblock %}

{% block body %}
    <h3>Registration</h3>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
    </form>
    <br>
    <a href="{% url 'myauth:login' %}">Back</a>
{% endblock %}

